
//! General
.title, .subtitle {
  color: white;
}

.footer, #interests {
  background: black;
}

//!Home 
.button {
  background: transparent;
  color: white;

}

.hero-body {
  background: black;
  background-image: url('https://github.com/kate1562/portfolio/blob/8c4cf89c86270b5e28c3fc8830b55d9d421a638f/waves.png?raw=true');
  background-repeat:no-repeat;
}
#heroTitle{
  font-size: 4rem;
}

#heroSubtitle {
  font-size: 2rem;
}

.button:hover{
  color: white;
}

//! About
#profile{
  width: 70%;
  box-shadow: 5px 10px #ff66c4;
}

.keyword {
  color: #ff66c4;
}

.profileImgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}


//! Interests
// .card{
//   background: red;
// }

#musicImg, #foodImg, #yogaImg {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQg7Et9lCwvZ2beKB-jZhnygbjJHzPwJmC40A&usqp=CAU");
  background-image: cover;
  // width: 300px;
}

.interestsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  width:300px;
}

//!Projects

#about, #skills, #projects {
  background: black;
  font-size: 1.5em;
  margin-bottom: 0;
}

.dreamlandMobile {
  height: 450px;
}

.appImage {
  display: flex;
  justify-content: center;
}

//!Contact
#contact {
  background: black;
}

.gradient {
  background: linear-gradient(#ff66c4, #5271ff);
  padding: 30px;
}

.form {
  background: white;
  padding: 30px;
}

.logos {
  padding-top: 60px;
}
.input {
  margin-top: 15px;
}

.contactIcon {
  width: 20%;
}

//! Navbar 

.navbar-item {
  color: white;
  background: #0a0a0a;
  text-transform: uppercase;
  border: white solid 3px;
  letter-spacing: 0.5em;
  font-family: 'Montserrat', sans-serif;
}

#navItemAbout:focus, #navItemAbout:hover {
  color: #fff066;
  background: #0a0a0a;
}

#navItemHello:focus, #navItemHello:hover {
  color: #5271ff;
  background: #0a0a0a;
}

#navItemWork:focus, #navItemWork:hover{
  color: #ff66c4;
  background: #0a0a0a;
}

#navItemHome:focus, #navItemHome:hover, #navItemHome {
  background: #0a0a0a;
  border: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}


//! Footer
