
//! General
.title, .subtitle {
  color: white;
}

body {
  background-image: linear-gradient(to right bottom, #cd89fd, #bf99ff, #b5a6ff, #afb2fe, #aebcf8, #a6c5fa, #a3cef9, #a4d5f7, #99dff8, #94e8f5, #97efed, #a3f6e2);
  position: relative;
}

#about, #projects {
  font-size: 1.5em;
  margin-bottom: 0;
}
// .footer {
//   background: black;
// }

#squiggle {
  height: 100px;
  width: 100px;
}

//!Home 
.button {
  background: transparent;
  color: white;

}

.hero-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#heroTitle{
  font-size: 6rem;
}

#heroSubtitle {
  font-size: 1.75rem;
}

.button:hover{
  color: white;
}

//! About
#profile{
  width: 65%;
  // box-shadow: 5px 10px #ff66c4;
  border-radius: 50%;
}

.keyword {
  font-weight: bold;
  color: #a3f6e2;
}

.profileImgContainer {
  display: flex;
  justify-content: center;
}

.aboutTextImgContainer{
  margin-bottom: 50px;
}

//! Interests

.interestsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  width:300px;
  font-size: 1rem;
}

//!Projects

.dreamlandMobile {
  height: 450px;
}

.appImage {
  display: flex;
  justify-content: center;
}

//!Contact
// #contact {
//   // background: black;
// }

.gradient {
  background: linear-gradient(#ff66c4, #5271ff);
  padding: 30px;
}

.form {
  background: white;
  padding: 30px;
}

.logos {
  padding-top: 60px;
}
.input {
  margin-top: 15px;
}

.contactIcon {
  width: 20%;
}

//! Navbar 

.navbar-item {
  color: rgb(3, 3, 3);
  // background: #0a0a0a;
  text-transform: uppercase;
  // border: white solid 3px;
  letter-spacing: 0.5em;
  font-family: 'Montserrat', sans-serif;
}

.navbar-menu, .navbar {
  background: transparent;
}

.navbar-item {
  color: white;
}

.navbar-burger span{
  background-color: white;
}

a.navbar-item:focus, a.navbar-item:hover {
  color:grey;
  background-color: transparent;
}

//! Skills

.icon{
  color: #614178;
  // font-size: 3rem;
  // size: 6em;
  // size: 4em!important;
  // font-size: 6em;
  // size: 3em!important;
  width: 3em;
  height: 3em;
}

.icon:hover {
  // filter: brightness(0.2);
  color: #706578
}

.icon:hover ~ .iconLabel {
  opacity: 1;
  font-weight: bold;
}

.iconWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.iconLabel{
  position: absolute;
  font-size: 1rem;
  color: white;
  opacity: 0;
}

#skillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
}


//! Footer
